.sidebar-user {
  .user-info {
    @include flexbox(start);
    margin-bottom: 20px;

    &:active {
      .user-image {
        filter: brightness(0.8);
      }

      .user-detail {
        color: $gray-800;
      }
    }
  }

  .user-profile {
    margin-right: 15px;
  }

  .user-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: $white;
    background-image: url('./assets/images/profile-image.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $yellow;
    border-radius: 15px;
    transition: filter 200ms ease-in-out;
  }

  .user-detail {
    @include column-flexbox(center, start);
    color: $white;
    transition: color 200ms ease-in-out;

    strong {
      font-size: 18px;
      font-weight: $font-weight-normal;
    }

    .user-email {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .user-keep {
    padding-right: 20px;
    margin-bottom: 20px;

    $side-icons: (
      'point': 'P',
      'money': 'ì›',
      'coupon': '',
    );
    @each $item, $unit in $side-icons {
      .#{$item} {
        @include flexbox(between);
        font-weight: $font-weight-bold;
      }

      .#{$item} > dt {
        @include inline-flexbox(start);
        font-size: 13px;
        color: $white;
        cursor: default;

        &::before {
          display: block;
          width: 25px;
          height: 25px;
          background-image: url('./assets/icons/side-#{$item}.png');
          background-repeat: no-repeat;
          background-size: 20px 20px;
          content: '';
        }
      }

      .#{$item} > dd {
        @include inline-flexbox(start);
        font-size: 20px;
        color: $yellow;
        text-align: right;
        transition: color 200ms ease-in-out;

        &:active {
          color: $white;
        }

        a {
          @include truncate;
          display: block;
          width: 130px;
        }

        &::after {
          content: '#{$unit}';
        }
      }
    }
  }

  .barcode {
    height: 50px;
    margin-right: 20px;
    text-align: center;
    background-color: $yellow;
    border-radius: 30px 0 0 0;

    &:active {
      .qr-check {
        color: $gray-700;
      }
    }

    .qr-check {
      font-weight: $font-weight-bold;
      line-height: 50px;
      color: $white;
      transition: color 200ms ease-in-out;
    }
  }
}
