.global-header {
  position: relative;
}

.gnb {
  display: none;

  @include media-breakpoint-up(xl) {
    @include pos-center-x;
    z-index: $gnb-level;
    display: block;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $gray-400;

    &-nav {
      width: 85%;
      padding: 20px 0;
      margin: 0 auto;
    }

    &-list {
      @include flexbox(between, start);
    }

    &-item {
      position: relative;
      text-align: center;

      &:hover {
        .dropdown {
          color: $green;
        }
      }
    }

    .dropdown {
      display: block;
      font-size: 18px;
      font-weight: $font-weight-bold;
      transition: color 200ms ease-in-out;

      &-content {
        @include pos-center-x;
        top: 65px;
        transition-timing-function: ease-in-out;
      }

      &-item {
        padding: 5px 0;

        a {
          font-size: 15px;
          color: $gray-700;

          &:hover {
            color: $green;
          }
        }
      }
    }

    &-bg {
      width: 100%;
      height: 250px;
      background-color: $white;
    }
  }
}
