.sidebar {
  $sidebar-width: 320px;

  @include no-scrollbar;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: 95%;
  height: 100vh;
  min-width: $sidebar-width;
  overflow-y: scroll;
  background-color: $gray-100;
  transform: translate3d(-100%, 0, 0);
  transition: transform 200ms ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    height: 280px;
    padding: 10px 0 0 20px;
    margin-bottom: 25px;
    background-color: $green;
  }

  &-util {
    @include flexbox(between);
    padding-right: 10px;
    margin-bottom: 20px;

    .logo {
      a {
        display: inline-block;
        width: 90px;
        height: 40px;

        img {
          display: inline-block;
          width: 100%;
          height: auto;
          transition: opacity 100ms ease-in-out;

          &:active,
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    $icons: (
      'refresh': 'refresh',
      'push': 'alarm',
      'setting': 'setting',
      'close-button': 'close',
    );
    @each $button, $icon in $icons {
      .#{$button} {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url('./assets/icons/#{$icon}.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity 100ms ease-in-out;

        &:active,
        &:hover {
          opacity: 0.6;
        }
      }
    }

    .close-button {
      background-size: 27px;
    }
  }

  &-auth {
    .info {
      margin-bottom: 30px;
      font-size: 16px;
      color: $white;
    }

    .button-group {
      @include flexbox;
      padding-right: 20px;

      .btn {
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 200px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: $font-weight-bold;
        border: 0;
        border-radius: 30px;
        transition: background-color 200ms ease-in-out;
      }

      .btn-login {
        margin-right: 10px;
        color: $white;
        background-color: $yellow;

        &:hover,
        &:active {
          background-color: $yellow-300;
        }
      }

      .btn-join {
        background-color: $white;

        &:hover,
        &:active {
          background-color: $gray-200;
        }
      }
    }
  }

  &-nav {
    margin: 0 15px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: $white;
    border-radius: 30px 0 30px 0;
  }

  @include media-breakpoint-up(md) {
    &-header {
      .logo {
        a {
          width: 100px;
        }
      }

      .info {
        font-size: 18px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    display: none;
  }
}
