.util {
  margin-bottom: 20px;

  &-wrapper {
    position: relative;
  }

  .logo {
    @include flexbox;
    padding: 20px 0;

    a {
      display: inline-block;
      width: 120px;
      height: 40px;

      img {
        display: block;
        width: 100%;
        height: auto;
        transition: opacity 100ms ease-in-out;

        &:active,
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .menu-button {
    @include pos-center-y;
    top: 43%;
    width: 40px;
    height: 40px;
    background-image: url('./assets/icons/aside-menu.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
  }

  .auth {
    display: none;
  }

  @include media-breakpoint-up(md) {
    .logo {
      a {
        width: 200px;
      }
    }

    .menu-button {
      top: 50%;
      background-size: 30px auto;
    }
  }

  @include media-breakpoint-up(lg) {
    .logo {
      padding: 30px 0;
    }

    .menu-button {
      display: none;
    }

    .auth {
      position: relative;
      display: block;

      &-list {
        @include flexbox(end);
        position: absolute;
        right: 0;
        bottom: 20px;
      }

      &-item {
        a {
          font-size: 13px;
          color: $gray-600;

          &:hover {
            color: $gray-400;
          }
        }

        &:first-child::after {
          padding: 5px;
          content: 'ㆍ';
        }
      }
    }
  }
}
