.util {
  position: relative;

  .logo {
    @include flexbox;
    padding: 20px 0;

    a {
      display: inline-block;
      width: 120px;
      height: auto;

      img {
        display: block;
        width: 100%;
        height: auto;
        transition: opacity 100ms ease-in-out;

        &:active,
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .auth {
    display: none;
  }

  .menu-button {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-image: url('./assets/icons/aside-menu.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
  }

  @include media-breakpoint-up(md) {
    .logo {
      a {
        width: 200px;
      }
    }

    .menu-button {
      top: 18px;
      left: 16px;
      background-size: 30px auto;
    }
  }

  @include media-breakpoint-up(xl) {
    &-wrapper {
      position: relative;
    }

    &-right {
      position: absolute;
      right: 0;
      bottom: 30px;
    }

    .logo {
      padding: 30px 0;
    }

    .menu-button {
      display: none;
    }

    .auth {
      @include flexbox(end);

      &-list {
        @include flexbox;
        margin-right: 30px;
      }

      &-item {
        a {
          font-size: 13px;
          color: $gray-600;
          transition: color 200ms ease-in-out;

          &:hover {
            color: $gray-400;
          }
        }

        &:first-child::after {
          padding: 5px;
          content: 'ㆍ';
        }
      }

      .button-group {
        @include flexbox(start);

        & > * {
          display: block;
          width: 30px;
          height: 30px;
          background-position: center center;
          background-repeat: no-repeat;
          transition: opacity 200ms ease-in-out;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .cart {
        position: relative;
        margin-right: 10px;
        background-image: url('./assets/icons/util-cart.png');

        .badge {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          font-size: 10px;
          background-color: $orange;
          border-radius: 50%;
          // NOTE: TRUNCATE 적용하기
        }
      }

      .global {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('./assets/icons/util-global.png');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}
